streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn==1.9.0
graphviz
requests
python-dotenv
streamlit-echarts
#io
dotenv
sqlalchemy
shap
pickledb
imblearn
multiprocess
joblib
missingno
altair
streamlit_echarts 
seaborn
sklearn
pydeck
math
scipy