streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn==1.8.0
graphviz
requests
python-dotenv
streamlit-echarts
#io
dotenv
sqlalchemy
shap
pickledb
imblearn
multiprocess
joblib
missingno
altair