streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
graphviz
requests
python-dotenv
scikit
streamlit-echarts

#pip install streamlit-echarts
conda install -c anaconda scikit-learn 
pip install scikit-learn

conda install scikit-learn 



sqlalchemy
shap
pickle
imblearn
multiprocessing
joblib